
<section id="Cart" class="pad_top pb-5">
  <div class="container">
    <div class="row g-4 justify-content-center">

      <div class="col-12 ">
          <div class="title">
            <h2>
              CART
              <small>YOU'VE GOT {{products.length}} ITEMS IN THE CART</small>
            </h2>
            <span class="dash"></span>
          </div>
      </div>

      <div *ngIf="products.length" class="col-12 position-relative">
        <div class="container">
          <div class="row g-3 overflow-auto p-3">
            <table class="table table-responsive align-middle ">
              <thead>
                <tr>
                  <th></th>
                  <th>PRODUCT</th>
                  <th>Price</th>
                  <th>QUANTITY</th>
                  <th>TOTAL</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let product of products ;let index = index">
                  <td>
                    <a class="pro_img" [routerLink]="['/product-info', product.id]">
                      <img
                        [src]="product.image"
                        [alt]="product.title"
                      />
                    </a>
                  </td>
                  <td>
                    <span ><a class="pro_name" [routerLink]="['/product-info', product.id]">{{product.title}}</a></span>
                  </td>
                  <td class="pro_price" >{{product.price}} $</td>
                  <td class="pro_quantity">
                    <div class="d-flex justify-content-start align-items-center">
                      <div class="plus m-1 btn btn-dark rounded-0 fs-5 fw-bold" (click)="plusProduct(index)">+</div>
                      <input class="mx-2 form-control rounded-0" type="number" (change)="detectProQ()" [(ngModel)]="product.quantity" min="1">
                      <div class="mins m-1 btn btn-dark rounded-0 fs-5 fw-bold" (click)="minsProduct(index)">-</div>
                    </div>
                  </td>

                  <td class="pro_price" >{{product.price * product.quantity}} $</td>
                  <td class="pro_tools" >
                    <button class="btn" (click)="removeProduct(product); ">delete</button>
                  </td>
                </tr>
                <tr>
                  <td class="cart_total" colspan="6">
                    Cart Total:- <strong>$ {{grandTotal}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-end">
              <div class="add__cart m-1">
                <button class="btn" (click)="addCart();">Create Order</button>
              </div>
              <div class="delete_cart_pro m-1">
                <button class="btn" (click)="removeAllProducts();">Clear Cart</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="products.length == 0" class="col-12">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 ">
              <div class="empty_cart">
                <img class="w-100" src="assets/imgs/empty-cart.png" alt="empty-cart">
                <a class="btn" routerLink='/shop' >Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
