<section id="Wishlist" class="pad_top pb-5">
  <div class="container">
    <div class="row g-4 justify-content-center">

      <div class="col-12 ">
          <div class="title">
            <h2>
              MY WISHLIST ON SILTON
              <small>YOUR FAVORITE LIST OF PRODUCTS</small>
            </h2>
            <span class="dash"></span>
          </div>
      </div>

      <div *ngIf="products.length" class="col-12 position-relative">
        <div class="container">
          <div class="row g-4">
            <table class="table table-responsive align-middle ">
              <thead>
                <tr>
                  <th></th>
                  <th>PRODUCT</th>
                  <th>SUBTOTAL</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let product of products">
                  <td>
                    <a class="pro_img" [routerLink]="['/product-info', product.id]">
                      <img
                        [src]="product.category.image"
                        [alt]="product.title"
                      />
                    </a>
                  </td>
                  <td>
                    <span ><a class="pro_name" [routerLink]="['/product-info', product.id]">{{product.title}}</a></span>
                  </td>
                  <td class="pro_price" >$ {{product.price}}</td>
                  <td class="pro_tools" >
                    <button class="btn" (click)="addToCart(product); ">Add To Cart</button>
                    <button class="btn" (click)="removeProduct(product); ">delete from Wishlist</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="products.length == 0" class="col-12">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 ">
              <div class="empty_wishlist">
                <img class="w-100" src="../../../assets/imgs/no-wish-list.png" alt="empty-wishlist">
                <a class="btn" routerLink='/shop' >Add New Item in Wishlist</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
