#Shop_pro .product{
  margin: 0 !important;
  margin-right:20px;
}

/* #Shop_pro .pro-img img{
  position: a;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
#Shop_pro .pro-img img:nth-child(2){
  display: none;
}

#Shop_pro .pro-img:hover img:nth-child(2){
  display: block;
}

#Shop_pro .pro-img:hover img:nth-child(1){
  display:none;
} */
