<ngx-spinner
  bdColor="rgba(255, 255, 255)"
  size="medium"
  color="#7b599b"
  type="square-loader"
  [fullScreen]="true"
  ><p>Loading...</p></ngx-spinner
>

<app-nav></app-nav>

<div [@routeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
  <!-- The router outlet will emit the activate event any time a new component is being instantiated, so we could use (activate) to scroll (for example) to the top: -->
  <router-outlet
    #outlet="outlet"
    (activate)="ScrollToTop($event)"
  ></router-outlet>
</div>


<app-footer></app-footer>
