<section id="Pro_info" class="pad_top">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="pro-img">
          <img [src]="product.images[1]" [alt]="product.title" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="pro-info">
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="category">
            <a routerLink="/{{ product.category.name.toLowerCase() }}">{{product.category.name}}</a>
          </div>
          <div class="desc">
            {{ product.description }}
          </div>
          <div class="price">
            <span>${{ product.price }}</span>
          </div>
          <div class="tools">
            <div class="quantity">
              <span>{{ product.quantity }}</span>
            </div>
            <div class="add-to-cart">
              <button class="btn" (click)="addToCart(product);">
                <i class="fa-sharp fa-solid fa-cart-shopping me-2"></i>  Add To Cart
              </button>
            </div>
          </div>
          <div class="add-to-wishlist">
            <button class="btn" (click)="addToWishlist(product);">
              <i class="fa-regular fa-heart me-2"></i>  Add To Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Related_pro" class="py-5">
  <div class="container">
    <div class="row g-4">

      <div class="col-12">
        <h2>
          RELATED PRODUCTS
        </h2>
        <span class="dash"></span>
      </div>

      <div class="col-12 position-relative">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let product of products">
            <ng-template carouselSlide [id]="product.id">
              <div class="product">
                <div class="wishlist">
                  <i [ngClass]="product.id ? (product.id | wishlistHeart) ? 'heart_active':'' : ''" class="fa-solid fa-heart" (click)="addToWishlist2(product, $event);  "></i>
                </div>

                <a class="pro-img" [routerLink]="['/product-info', product.id]" (click)="getProduct()">

                  <span class="image_placholder">
                    <img
                      [src]="product.images[0]"
                      [alt]="product.title"
                    />
                  </span>
                  <span class="image_placholder image_loaded shop-image">
                    <img
                      [src]="product.images[1]"
                      [alt]="product.title"
                    />
                  </span>
                </a>

                <div class="pro_info">
                  <h3>
                    <a [routerLink]="['/product-info', product.id]" (click)="getProduct()">{{ product.title}}</a>
                  </h3>
                  <span class="pro-cart" (click)="addToCart(product)" placement="left" tooltipClass="my-custom-class" ngbTooltip="Add to Cart" >
                  </span>
                  <span class="pro-category">
                    <a [routerLink]="['/'+product.category.name.toLowerCase()]">{{ product.category.name}}</a>
                  </span>
                  <span class="pro-price">${{ product.price}}</span>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>
